h1 {
    color: #3a241d;
  text-align: center;
  }
  body {
    font-family: helvetica, arial, sans-serif;
   }
   .pagina {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content:flex-start;
	align-items: flex-start;
	align-content: stretch;
	gap :2%;
   }

   #contenedor-izquierdo {
	background-color: #eee;
	width: 15%;
	height: 15%;
	top: 0px;
	bottom: 0px;
}
#contenedor-derecho {
	background-color: #eee;
	width: 15%;
	height: 15%;
	top: 0px;
	bottom: 0px;
}
.cielo {
	height: 30%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
	bottom: 70%;
	left: 40%; 
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 65%;
	background: #7adb6b;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 5%;
	left: 40%;
	opacity: 0.8;
	z-index: -1; 
}
.contenedor-componente {
align-items: center;
justify-content: center;
display: flex;

}

.componente {
	max-width: 30%;
	max-height: 30%;
	z-index: 2;;
}


